<div class="article-grid-item">
  
  {% if article.image %}
    <a href="{{ article.url }}" class="article-grid-item__image">
      <div class="image-wrap" style="height: 0; padding-bottom: 100%">
        {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <img class="lazyloaded" src="{{ article.image | img_url: '400x' }}" alt="{{ article.title | escape }}">
      </div>
    </a>
  {% endif %}

  <a href="{{ article.url }}" class="article-grid-item__title">{{ article.title }}</a>

</div>