<link id="ModelViewerOverride" rel="stylesheet" href="{{ 'bsub-widget.css' | asset_url }}" >

{%- liquid
  if product.requires_selling_plan or product.selected_selling_plan_allocation or selling_plan
    assign current_selling_plan_allocation = product.selected_or_first_available_selling_plan_allocation
  else
    assign current_selling_plan_allocation = nil
  endif
-%}

<!-- Bold Subscriptions Widget -->
{% if product.selling_plan_groups.size > 0 %}
<fieldset
  class="bsub-widget"
  role="{%- if product.requires_selling_plan == false or product.selling_plan_groups.size > 1 -%} radiogroup {%- else -%} group {%- endif -%}"
  data-bsub-widget
>
  <legend>
    {%- if product.requires_selling_plan and product.selling_plan_groups.size == 1 -%}
      {{ product.selling_plan_groups.first.name }}
    {% endif %}
  </legend>

  <div
    class="bsub-widget__wrapper
    {% if product.requires_selling_plan and product.selling_plan_groups.size == 1 %} bsub-widget__wrapper--single {% endif %}"
  >
    <!-- Selling Plan Groups (Purchase Options) -->
    <div class="bsub-widget__groups-container">
      <!-- render One-time purchase option -->
      {% unless product.requires_selling_plan == true %}
        <div class="bsub-widget__group">
          <label class="bsub-widget__group-label">
            <input
              type="radio" value="once" name="bsub-selling-plan-group"
              data-bsub-selling-plan-group-input
              data-bsub-purchase-option-one-time
              {% unless current_selling_plan_allocation %} checked {% endunless %}
              onchange="window.BOLD.BsubWidget.handleSellingPlanGroupChange(event)"
            >
            <div class="bsub-widget__group-header" style="padding: 1.68rem 2rem 1.68rem 4rem;">
              <div class="bsub-widget__text">
                One-time Purchase
                <span class="product-buttons-price reg_price">{{ product.selected_or_first_available_variant.price | money }}</span>
              </div>
            </div>
          </label>
        </div>
      {% endunless %}

      <!-- selling plan group radio -->
      {% for group in product.selling_plan_groups %}
        <div
          class="bsub-widget__group"
          data-bsub-selling-plan-group
          data-bsub-selling-plan-group-id="{{ group.id }}"
        >
          <label class="bsub-widget__group-label">
            <input
              data-bsub-selling-plan-group-input
              class="bsub-widget__input"
              type="radio" value="{{group.id}}" name="bsub-selling-plan-group"
              {% if group.id == current_selling_plan_allocation.selling_plan.group_id %} checked {% endif %}
              onchange="window.BOLD.BsubWidget.handleSellingPlanGroupChange(event)"
            >
            <div class="bsub-widget__group-header">
              <div class="bsub-widget__text">
                <span>
                  <span>Subscribe and </span>
                  <br/>
                  <span class="save-15">Save 15%</span>
                </span>
                <span class="product-buttons-price sub_price">{{ product.selected_or_first_available_variant.price | times: '0.85' | money }}</span>
              </div>
            </div>
          </label>
        </div>
      {% endfor %}
    </div>

    <!-- Render individual selling plans -->
    {% for group in product.selling_plan_groups %}
      <div
        class="bsub-widget__plans-container
          {% unless current_selling_plan_allocation.selling_plan.group_id == group.id %} bsub__hidden {% endunless %}"
        data-bsub-selling-plan-group-id="{{ group.id }}"
        data-bsub-selling-plans-container
      >
        <fieldset>
          <legend>
            Delivery Frequency
          </legend>
          {% for plan in group.selling_plans %}
            <div
              class="bsub-widget__plan"
              data-bsub-selling-plan
              data-bsub-selling-plan-id="{{ plan.id }}"
            >
              <label class="bsub-widget__plan-label">
                <input
                  data-bsub-selling-plan-input
                  type="radio" value="{{ plan.id }}"
                  name="bsub-selling-plan-{{ group.id }}"
                  {% if current_selling_plan_allocation == nil and forloop.first %} checked {% endif %}
                  {% if current_selling_plan_allocation.selling_plan.id == plan.id -%} checked {% endif %}
                  onchange="window.BOLD.BsubWidget.handleSellingPlanChange(event)"
                >
                <div class="bsub-widget__plan-header">
                  <svg class="bsub-widget__checked-icon bsub-widget__image" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M24,12 C24,18.627 18.627,24 12,24 C5.373,24 0,18.627 0,12 C0,5.373 5.373,0 12,0 C18.627,0 24,5.373 24,12 Z M7.0050175,11.4087067 C6.61372743,11.0189496 5.98056367,11.0201924 5.59080666,11.4114825 C5.20104965,11.8027726 5.20229244,12.4359363 5.5935825,12.8256933 L9.9325825,17.1476933 C10.3226506,17.5362331 10.9534086,17.5363886 11.3436681,17.1480412 L19.5076681,9.02404115 C19.8991503,8.63447708 19.9007052,8.00131401 19.5111412,7.60983186 C19.1215771,7.2183497 18.488414,7.21679478 18.0969319,7.60635885 L10.6386478,15.0281006 L7.0050175,11.4087067 Z"></path>
                  </svg>
                  <svg class="bsub-widget__unchecked-icon bsub-widget__image" viewBox="0 0 18 18" fill="none">
                    <circle cx="9" cy="9" r="9" fill="white" fill-opacity="0.1"/>
                    <circle cx="9" cy="9" r="8.5" stroke="black" stroke-opacity="0.2"/>
                  </svg>
                  <div class="bsub-widget__text">
                    {{- plan.name -}} 
                  </div>
                  <div class="bsub-widget__plan-pricing">
                    <span data-bsub-per-delivery-price></span>
                    <span>&nbsp;/&nbsp;</span>
                    <span data-bsub-delivery-frequency>delivery</span>
                  </div>
                </div>
              </label>
            </div>
          {% endfor %}
        </fieldset>
      </div>
    {% endfor %}
  </div>

  <input
    type="hidden"
    name="selling_plan"
    data-bsub-selling-plan-id-input
    value="{{ current_selling_plan_allocation.selling_plan.id }}"
  />

  <script
    type="application/json"
    data-bsub-product-json
    data-bsub-product-id="{{ product.id }}"
  >
    {{ product | json }}
  </script>
</fieldset>

<script
  type="application/json"
  data-bsub-money-format="{{shop.money_format}}"
></script>

<input
  type="hidden"
  data-bsub-page-template
  value="{{ template }}"
/>

{% endif %}
