<link rel="stylesheet" href="{{ 'benefits.css' | asset_url }}" >

<div class="ben-container">
    <div class="ben-head">
        <h2 class="ben-head-text">
            {{ bs.title }}
        </h2>
    </div>
    <div class="ben-main">
        <div class="row">
            {% if bs.benefit_alt_1 != "" %}
                <div class="ben-col">
                    <div class="ben-icon" style="background-image: url('{{ bs.benefit_1_icon }}');"></div>
                    <p class="ben-text">{{ bs.benefit_alt_1 }}</p>
                </div>
            {% endif %}
            {% if bs.benefit_alt_2 != "" %}
                <div class="ben-col">
                    <div class="ben-icon" style="background-image: url('{{ bs.benefit_2_icon}}');"></div>
                    <p class="ben-text">{{ bs.benefit_alt_2 }}</p>
                </div>
            {% endif %}
            {% if bs.benefit_alt_3 != "" %}
                <div class="ben-col">
                    <div class="ben-icon" style="background-image: url('{{ bs.benefit_3_icon}}');"></div>
                    <p class="ben-text">{{ bs.benefit_alt_3 }}</p>
                </div>
            {% endif %}
            {% if bs.benefit_alt_4 != "" %}
                <div class="ben-col">
                    <div class="ben-icon" style="background-image: url('{{ bs.benefit_4_icon}}');"></div>
                    <p class="ben-text">{{ bs.benefit_alt_4 }}</p>
                </div>
            {% endif %}
        </div>
        <div class="row">
            {% if bs.benefit_alt_6 != "" %}
                <div class="ben-col">
                    <div class="ben-icon" style="background-image: url('{{ bs.benefit_5_icon}}');"></div>
                    <p class="ben-text">{{ bs.benefit_alt_5 }}</p>
                </div>
            {% endif %}
            {% if bs.benefit_alt_6 != "" %}
                <div class="ben-col">
                    <div class="ben-icon" style="background-image: url('{{ bs.benefit_6_icon}}');"></div>
                    <p class="ben-text">{{ bs.benefit_alt_6 }}</p>
                </div>
            {% endif %}
            {% if bs.benefit_alt_7 != "" %}
                <div class="ben-col">
                    <div class="ben-icon" style="background-image: url('{{ bs.benefit_7_icon}}');"></div>
                    <p class="ben-text">{{ bs.benefit_alt_7 }}</p>
                </div>
            {% endif %}
                <!-- intentionall unless, change to if when there is more benefits -->
            {% if bs.benefit_alt_8 != "" %}
                <div class="ben-col">
                    <div class="ben-icon" style="background-image: url('{{ bs.benefit_8_icon}}');"></div>
                    <p class="ben-text">{{ bs.benefit_alt_8 }}</p>
                </div>
            {% endif %}
        </div>
    </div>
</div>