<link rel="stylesheet" href="{{ 'product-card.css' | asset_url }}" >

{% style %}
  .card:nth-child(1):before {
    background-image: url('{{ bs.img_1 | img_url: "1200x"}}');
  }
  .card:nth-child(2):before {
    background-image: url('{{ bs.img_2 | img_url: "1200x" }}');
  }
  .card:nth-child(3):before {
    background-image: url('{{ bs.img_3 | img_url: "1200x" }}');
  }
  .card:nth-child(4):before {
    background-image: url('{{ bs.img_4 | img_url: "1200x" }}');
  }
{% endstyle %}

<div class="page-content-alt">
    <div class="card" data-location="https://wholesale.nomz.com/login">
        <div class="content">
          <h2 class="title">{{ bs.title_1 }}</h2>
          <p class="copy">{{ bs.text_1 }}</p>
          <a class="btn-alt" href="{{ bs.btn-url_1}}">{{ bs.btn-text }}</a>
        </div>
    </div>
    <div class="card" ">
      <div class="content">
        <h2 class="title">{{ bs.title_2 }}</h2>
        <p class="copy">{{ bs.text_2 }}</p>
        <a class="btn-alt" href="{{ bs.btn-url_2}}">{{ bs.btn-text }}</a>
      </div>
    </div>
    <div class="card" ">
      <div class="content">
        <h2 class="title">{{ bs.title_3 }}</h2>
        <p class="copy">{{ bs.text_3 }}</p>
        <a class="btn-alt" href="{{ bs.btn-url_3}}">{{ bs.btn-text }}</a>
      </div>
    </div>
    <div class="card" >
      <div class="content">
        <h2 class="title">{{ bs.title_4 }}</h2>
        <p class="copy">{{ bs.text_4 }}</p>
        <a class="btn-alt" href="{{ bs.btn-url_4}}">{{ bs.btn-text }}</a>
      </div>
    </div>
  </div>
  