{% assign ss = section.settings %}

{% if ss.enable %}
<div class="newsletter-bar" style="background-color: {{ ss.color_bg }}; color: {{ ss.color }}; {% if ss.background != blank %}background-image: url({{ ss.background | img_url: '2000x' }});{% endif %}" data-newsletter-bar='{
  "showAfter": 2000
}'>

  <div class="page-width form-container flex f-j-between f-a-center">

    {% if ss.image != blank %}
      <img
        class="newsletter-bar__image"
        src="{{ ss.image | img_url: 'x46' }}"
        alt="{{ ss.image.alt | default: ss.title }}">
    {% endif %}

    {% if ss.logo != blank %}
      <img
        class="newsletter-bar__logo"
        src="{{ ss.logo | img_url: 'x27' }}"
        alt="{{ ss.logo.alt | default: shop.name }}">
    {% endif %}

    {% if ss.logo != blank %}
      <div class="newsletter-bar__divider" style="background-color: {{ ss.color }};"></div>
    {% endif %}

    {% if ss.image != blank or ss.title != blank %}
      <h2 class="newsletter-bar__heading">{{ ss.title | escape }}</h2>
    {% endif %}

    <div class="newsletter-bar__form">

      {% form 'customer', id: 'newsletter-bottom' %}
        {% if form.posted_successfully? %}
          <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
        {% endif %}
  
        {% if form.errors %}
          {{ form.errors | default_errors }}
        {% endif %}

        {% unless form.posted_successfully? or form.errors %}
          <input type="hidden" name="contact[tags]" value="prospect,newsletter">
          <input type="hidden" name="contact[context]" value="signup-bar">

          <div class="newsletter-bar__form-input-group flex">
            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-{{ block.id }}" class="footer__newsletter-input" autocorrect="off" autocapitalize="off" required>
            <button type="submit" class="btn" name="commit">{{ ss.button }}</button>
          </div>
        {% endunless %}
      {% endform %}
    </div>

    <div class="newsletter-bar__close" data-close-popup>{% include 'icon-close' %}</div>
  </div>

  <div class="success-container page-width">
    <div class="newsletter-bar__heading">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
    <div class="newsletter-bar__close" data-close-popup>{% include 'icon-close' %}</div>
  </div>
</div>
{% endif %}

{% schema %}
  {
    "name": "Newsletter Bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable",
        "label": "Enable?",
        "default": true
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Newsletter"
      },
      {
        "type": "text",
        "id": "button",
        "label": "Button text",
        "default": "sign up"
      },
      {
        "type": "image_picker",
        "id": "background",
        "label": "Background Image"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Background Color",
        "default": "#ae9cdb"
      },
      {
        "type": "color",
        "id": "color",
        "label": "Text Color",
        "default": "#ffffff"
      }
    ],
    "presets": [
      {
        "name": "Newsletter Bar",
        "category": "Promotional"
      }
    ]
  }
{% endschema %}
