{% assign ss = section.settings %}


<div class="row contact-row">
	<div class="col-md-7">
		<div class="contact_form_wrap">
			<div class="form-head-contact">
				<h1>{{ ss.contact-top-head }}</h1>
				<p>{{ ss.contact-subhead }}</p>
				<p>Our office hours are 9AM - 5PM EST, Monday to Friday.</p>
			</div>
			<form class="contact-form" action="https://formspree.io/f/mzbovvnb" method="POST">
				<div class="form-group-alt">
					<input class="contact-form-input" type="text" id="firstName" name="firstName" placeholder="First Name">
				</div>
				<div class="form-group-alt">
					<input class="contact-form-input" type="text" id="lastName" name="lastName" placeholder="Last Name">
				</div>
				<div class="form-group-alt">
					<input class="contact-form-input" type="email" id="email" name="email" placeholder="Your Email Address">
				</div>
				<div class="form-group-alt">
					<textarea class="contact-form-input" name="message" id="message" cols="30" rows="5" placeholder="Write Your Message Here"></textarea>
				</div>
				<button class="contact-form-button" type="submit">Send Message</button>
			</form>
		</div>
		<div class="info-container">
			<div class="info-group-alt">
				<a href="tel:647-370-6740"class="contact-text-link">text us | {{ ss.contacts-info-phone }}</a>
			</div>
			<div class="info-group-alt">
				<a class="contact-socials" target="_blank" href="https://www.instagram.com/nomz/" title="nomz on Instagram">
					<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-instagram" viewBox="0 0 32 32"><path fill="#444" d="M16 3.094c4.206 0 4.7.019 6.363.094 1.538.069 2.369.325 2.925.544.738.287 1.262.625 1.813 1.175s.894 1.075 1.175 1.813c.212.556.475 1.387.544 2.925.075 1.662.094 2.156.094 6.363s-.019 4.7-.094 6.363c-.069 1.538-.325 2.369-.544 2.925-.288.738-.625 1.262-1.175 1.813s-1.075.894-1.813 1.175c-.556.212-1.387.475-2.925.544-1.663.075-2.156.094-6.363.094s-4.7-.019-6.363-.094c-1.537-.069-2.369-.325-2.925-.544-.737-.288-1.263-.625-1.813-1.175s-.894-1.075-1.175-1.813c-.212-.556-.475-1.387-.544-2.925-.075-1.663-.094-2.156-.094-6.363s.019-4.7.094-6.363c.069-1.537.325-2.369.544-2.925.287-.737.625-1.263 1.175-1.813s1.075-.894 1.813-1.175c.556-.212 1.388-.475 2.925-.544 1.662-.081 2.156-.094 6.363-.094zm0-2.838c-4.275 0-4.813.019-6.494.094-1.675.075-2.819.344-3.819.731-1.037.4-1.913.944-2.788 1.819S1.486 4.656 1.08 5.688c-.387 1-.656 2.144-.731 3.825-.075 1.675-.094 2.213-.094 6.488s.019 4.813.094 6.494c.075 1.675.344 2.819.731 3.825.4 1.038.944 1.913 1.819 2.788s1.756 1.413 2.788 1.819c1 .387 2.144.656 3.825.731s2.213.094 6.494.094 4.813-.019 6.494-.094c1.675-.075 2.819-.344 3.825-.731 1.038-.4 1.913-.944 2.788-1.819s1.413-1.756 1.819-2.788c.387-1 .656-2.144.731-3.825s.094-2.212.094-6.494-.019-4.813-.094-6.494c-.075-1.675-.344-2.819-.731-3.825-.4-1.038-.944-1.913-1.819-2.788s-1.756-1.413-2.788-1.819c-1-.387-2.144-.656-3.825-.731C20.812.275 20.275.256 16 .256z"></path><path fill="#444" d="M16 7.912a8.088 8.088 0 0 0 0 16.175c4.463 0 8.087-3.625 8.087-8.088s-3.625-8.088-8.088-8.088zm0 13.338a5.25 5.25 0 1 1 0-10.5 5.25 5.25 0 1 1 0 10.5zM26.294 7.594a1.887 1.887 0 1 1-3.774.002 1.887 1.887 0 0 1 3.774-.003z"></path></svg>
					<span class="icon__fallback-text">Instagram</span>
				</a>
				<a class="contact-socials" target="_blank" href="https://www.facebook.com/nomzorganic/" title="nomz on Facebook">
					<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-facebook" viewBox="0 0 32 32"><path fill="#444" d="M18.56 31.36V17.28h4.48l.64-5.12h-5.12v-3.2c0-1.28.64-2.56 2.56-2.56h2.56V1.28H19.2c-3.84 0-7.04 2.56-7.04 7.04v3.84H7.68v5.12h4.48v14.08h6.4z"></path></svg>
					<span class="icon__fallback-text">Facebook</span>
				  </a>
			</div>
			<div class="info-group-alt">
				<a href="mailto:hello@nomz.com"class="contact-text-link">email | {{ ss.contacts-info-email }}</a>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<img src="{{ ss.contact-image |img_url: '1200x' }}" alt="">
	</div>
</div>
{% schema %}
	{
		"name": "Contact Us Page",
		"settings": [
			{
				"type": "text",
				"id": "contact-top-head",
				"label": "Header for the page",
				"default": "Contact us"
			},
			{
				"type": "text",
				"id": "contact-subhead",
				"label": "Subheader for the page",
				"default": "Ask us anything! We'd love to hear from you!"
			},
			{
				"type": "text",
				"id": "contacts-content-title",
				"label": "Title for contact info",
				"default": "Contacts"
			},
			{
				"type": "text",
				"id": "contacts-info-city",
				"label": "City",
				"default": "Toronto"
			},
			{
				"type": "text",
				"id": "contacts-info-address",
				"label": "Address",
				"default": "180 University Avenue"
			},
			{
				"type": "text",
				"id": "contacts-info-phone",
				"label": "Phone number",
				"default": "(647) 370-6740"
			},
			{
				"type": "text",
				"id": "contacts-info-email",
				"label": "Eamil address",
				"default": "hello@nomz.com"
			},
			{
				"type": "image_picker",
				"id": "contact-image",
				"label": "Contact page image"
			}
		]
	}
{% endschema %}